.closedMenu {
    position: fixed;
    background: #FFFFFF;
    padding: 1rem 1rem 0rem 1rem;
    border-radius: 8px;
    width: 85%;
    height: 60%;
    top: 2rem;
    left: 5%;
    opacity: 0;

    z-index: 1;
    
    transition: all 0.3s;
}

.closedMenu div {
    padding-bottom: 1rem;
}

.closedMenu div h3 {
    padding: 0.2rem 0.5rem;
    background-color: #C42A00;
    border-radius: 8px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-family: ColateraSoft;
    font-weight: 400;
    color: #FFFFFF;

    transition: all 0.3s;
}

.closedMenu div ul {
    padding-top: 0.5rem;
    padding-left: 1rem;
}

.closedMenu div ul li {
    list-style: none;
}

.closedMenu div ul li a {
    font-family: ColateraSoft;
    font-weight: 400;

    text-decoration: underline;
    text-decoration-color: transparent;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    color: #000000;

    transition: all 0.3s;
}

.closedMenu div ul li a:hover {
    color: #C42A00;
    text-decoration-color: #C42A00;
}

.openMenu {
    top: 4rem;
    width: 90%;
    height: 90%;
    opacity: 1;

    z-index: 5;

    transition: all 0.3s;
}

@media (prefers-color-scheme: dark) {
    .closedMenu {
        background: #191919;
    }

    .closedMenu div h3 {
        background-color: #FF9148;
        color: #2C2C2C;
    }

    .closedMenu div ul li a {
        color: #FFFFFF;
    }

    .closedMenu div ul li a:hover {
        color: #FF9148;
        text-decoration-color: #FF9148;
    }
}

@media (min-width: 80rem) {
    .closedMenu {
        position: absolute;
        display: flex;

        gap: 1rem;

        margin: 0rem;

        padding: 0rem;

        background: #FFFFFF;
        padding: 1rem 1rem 0rem 1.5rem;
        border-radius: 0px;
        width: auto;
        height: auto;
        top: 0;
        left: 0;
        opacity: 1;
    
        z-index: 5;
        
        transition: all 0.3s;
    }

    .openMenu {
        margin: 0rem;
    }

    .closedMenu div {
        padding-bottom: 0rem;
        margin: 0rem;
    }

    .closedMenu div h3 {
        padding: 0rem;
        background-color: transparent;
        border-radius: 0px;
    
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    
        font-family: ColateraSoft;
        font-weight: 400;
        color: #2C2C2C;
    
        transition: all 0.3s;

        cursor: pointer;
    }

    .closedMenu div ul {
        position: relative;

        display: none;

        margin: 0rem;

        background: #FFFFFF;

        left: -15px;

        border-radius: 8px;

        padding: 1rem;

        transition: all 0.3s;
    }

    .closedMenu div ul li a { 
        color: #000000;
    }

    @media (prefers-color-scheme: dark) {
        .closedMenu {
            background: #191919;
        }
    
        .closedMenu div h3 {
            color: #FFFFFF;
        }
    
        .closedMenu div ul li a:hover {
            color: #FF9148;
            text-decoration-color: #FF9148;
        }
    }
}